@page
@model AspNetetCore_RazorPage_database_07131331.IndexModel
@{
}

<ul style="            background: rgba(9, 114, 248, 0.66);
            margin: 0px;
            padding: 0px;
            font-size: 16px;
            font-family: 華康娃娃體;
            line-height: 14.3999996185303px;
            color: rgb(58, 58, 58);
            list-style-type: none;
            width: 1045px;
            list-style-image: unset;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            orphans: auto;
            text-align: start;
            text-indent: 0px;
            text-transform: none;
            white-space: normal;
            widows: auto;
            word-spacing: 0px;
            -webkit-text-stroke-width: 0px;">
    <li style="margin: 5px 11px 0px 40px; padding: 0px 0px 4px; font-size: 30px; font-family:華康娃娃體; line-height: 1.2; color: rgb(58, 58, 58); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(180, 176, 158);">
    </li>
    <li style="margin: 5px 11px 0px 40px; padding: 0px 0px 4px; font-size: 30px; font-family:華康娃娃體; line-height: 1.2; color: rgb(58, 58, 58); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(180, 176, 158);">
        <a href="https://www.facebook.com/SpringDayPetShopCafe/photos/a.895021567196119.1073741829.226931110671838/877723635592579/?type=3&theater" style="text-decoration: none; color: rgb(11, 37, 70);" target="_blank">
            Q :搭捷運怎麼到小春 ?
        </a><p style="margin: 0px; padding: 0px; font-size: 25px; font-family:華康娃娃體; line-height: 1.3; color:darksalmon; font-weight: normal;">
            搭乘【松山新店線】的【南京三民站】一號出口
            再步行至約12分鐘
        </p>
        <p style="margin: 0px; padding: 0px; font-size: 25px; font-family:華康娃娃體; line-height: 1.3; color: rgb(102, 102, 102); font-weight: normal;">
            &nbsp;
        </p>
    </li>
    <li style="            margin: 5px 11px 0px 40px;
            padding: 0px 0px 4px;
            font-size: 30px;
            font-family: 華康娃娃體;
            line-height: 1.2;
            color: rgb(58, 58, 58);
            border-bottom-width: 1px;
            border-bottom-style: dotted;
            border-bottom-color: rgb(180, 176, 158);">
        <a href="https://www.facebook.com/SpringDayPetShopCafe/photos/a.895021567196119.1073741829.226931110671838/881464888551787/?type=3&permPage=1" style="text-decoration: none; color: rgb(11, 37, 70);" target="_blank">Q :附近公車站有到達的公車 ?</a>
        <p style="margin: 0px; padding: 0px; font-size: 25px; font-family:華康娃娃體; line-height: 1.3; color:darksalmon; font-weight: normal;">
            民生東路五段【聯合二村】、健康路【長壽公園】、光復北路【松山新城】
        </p>
        <p style="        margin: 0px;
        padding: 0px;
        font-size: 25px;
        font-family: 華康娃娃體;
        line-height: 1.3;
        color: rgb(102, 102, 102);
        font-weight: normal;">
            &nbsp;
        </p>
    </li>
    <li class="last" style="            margin: 5px 11px 0px 40px;
            padding: 0px 0px 4px;
            font-size: 30px;
            font-family: 華康娃娃體;
            line-height: 1.2;
            color: rgb(58, 58, 58);
            border-top-style: none !important;
            border-right-style: none !important;
            border-bottom-style: dotted;
            border-left-style: none !important;
            border-bottom-width: 1px;
            border-bottom-color: rgb(180, 176, 158);">
        <a href="https://www.facebook.com/SpringDayPetShopCafe/photos/a.895021567196119.1073741829.226931110671838/881465398551736/?type=3&permPage=1" style="text-decoration: none; color: rgb(11, 37, 70);" target="_blank">Q：哪邊有「停車場」?</a>
        <p style="        margin: 0px;
        padding: 0px;
        font-size: 25px;
        font-family: 華康娃娃體;
        line-height: 1.3;
        color: darksalmon;
        font-weight: normal;">
            民生立體停車場($30/H)，位於 105台北市松山區民生東路五段84號
        </p>
        <p style="                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     margin: 0px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     padding: 0px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     font-size: 25px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     font-family: 華康娃娃體;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     line-height: 1.3;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     color: rgb(102, 102, 102);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     font-weight: normal;">
            &nbsp;
        </p>
    </li>
</ul>