@page
@model WebFinalProject_07131331_劉雁茹.Pages.Menu.IndexModel
@{
}
<style>
    .menu {
        background-image: url("images/ba.png");
        width: 100%;
        height: 100%;
    }
    .pic {
        padding: 25px;
        width: 470px;
        height: 580px;
        position:relative;
    }
        .pic:hover{
            width: 100%;
            height: 100%;
        }
</style>
    <div align="center" class="menu" style="">
        <table>
            <tr>
                <td><img class="pic" src="menu/m1.jpg" /></td>
                <td><img class="pic" src="menu/m2.jpg" /></td>
            </tr>
            <tr>
                <td><img class="pic" src="menu/m3.jpg" /></td>
                <td><img class="pic" src="menu/m4.jpg" /></td>
            </tr>
            <tr>

                <td><img class="pic" src="menu/m5.jpg" /></td>
                <td><img class="pic" src="menu/m6.jpg" /></td>
            </tr>
        </table>

    </div>